@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import "tailwindcss";

@theme {
        --font-primary:"Poppins", sans-serif;
        --font-headings:'Satoshi', sans-serif;
        --color-logoColor:#4283DE;
        --color-borderColor:#D9D9D9;
        
}
@layer components {
  .slick-dots {
    position: relative !important;
    bottom: 0 !important;
    margin-top: 20px;
    
  }
}
